<div class="row pl-3 pt-3">
  <div class="col-6 white shadow-sm p-4">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          <% for tab in optins_kind %>
            <li class="nav-item">
              <a class="nav-link <%= active_tab(tab, params[:tab]) %>" data-turbolinks="false" href= <%= "?tab=#{tab}" %>> <%= I18n.t "optin.#{tab}" %> </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= render partial: "admin/optins/partials/#{params[:tab] || "push"}_form" %>
  </div>
  <%= render partial: "admin/optins/partials/preview" %>
</div>

<% if Flipper['new-modal'].enabled?(current_shop) %>
  <script>
    var el = document.getElementById('modal_<%=@optin.kind%>');
    el.style.display = 'block';
    $("input").on('keyup change', function (){
    $(`#modal_${this.id}`).html($(this).val())

    if (this.id.includes("background_color")) {
        $('.modal-line, .accept').css('background', `#${$(this).val()}`)
        $('.modal-line').css('border-bottom', `1px solid #${$(this).val()}`)
        $('#brand-link').css('color', `#${$(this).val()}`)
    }
    if (this.id.includes("text_color")) {
        $('.vorta-modal-title, .vorta-modal-body').css('color', `#${$(this).val()}`)
    }
    });
  </script>
<% else %>
  <script>
    var el = document.getElementById('modal_<%=@optin.kind%>');
    el.style.display = 'block';
    $("input").on('keyup change', function (){
    $(`#modal_${this.id}`).html($(this).val())

    if (this.id.includes("background_color")) {
        $('.vorta-modal').css('background', `#${$(this).val()}`)
    }
    if (this.id.includes("text_color")) {
        $('.vorta-modal-title, .vorta-modal-body').css('color', `#${$(this).val()}`)
    }
    });
  </script>
<% end %>
