<div class="row pl-3 pt-3">
  <div class="col-6 white shadow-sm p-4">
    <div class="row">
      <div class="col-12">
        <ul class="nav nav-tabs">
          <% for tab in optins_kind %>
            <li class="nav-item">
              <a class="nav-link <%= active_tab(tab, params[:tab]) %>" data-turbolinks="false" href= <%= "?tab=#{tab}" %>> <%= I18n.t "optin.#{tab}" %> </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= form_with model: @optin, method: 'patch', url: admin_optin_path(@optin), class:"mt-3", local: true do |f| %>
      <div class="form-group row">
        <div class="col-6">
          <%= label_tag :enabled, t('activerecord.attributes.optin.enabled') %>
          <div>
            <label class="switch">
              <%= f.check_box :enabled %>
              <span class="slider round"></span>
            </label>
          </div>
        </div>
        <div class="col-6" data-toggle="tooltip" data-placement="right" title="<%= @optin.enabled ? t('tooltip.optin.my_store') : t('tooltip.optin.my_store_disabled') %>">
          <a href="<%="http://#{current_shop.domain}/?t=5&vizualize=#{@optin.kind}" %>"
             target="_blank" class="btn btn-purple float-right px-4 mt-4 <%= "disabled" unless @optin.enabled%>">
            Ver na Minha Loja
          </a>
        </div>
      </div>
      <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.optin.title')%>">
        <%= label_tag :title, t('activerecord.attributes.optin.title') %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.optin.body')%>">
        <%= label_tag :body, t('activerecord.attributes.optin.body') %>
        <%= f.text_field :body, class: "form-control" %>
      </div>
      <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.optin.accept_button')%>">
        <%= label_tag :accept_button, t('activerecord.attributes.optin.accept_button') %>
        <%= f.text_field :accept_button, class: "form-control" %>
      </div>
      <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.optin.decline_button')%>">
        <%= label_tag :decline_button, t('activerecord.attributes.optin.decline_button') %>
        <%= f.text_field :decline_button, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :background_color, t('activerecord.attributes.optin.background_color') %>
        <%= f.text_field :background_color, class: "form-control jscolor" %>
      </div>
      <div class="form-group">
        <%= label_tag :text_color, t('activerecord.attributes.optin.text_color') %>
        <%= f.text_field :text_color, class: "form-control jscolor" %>
      </div>
      <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.optin.timer')%>">
        <%= label_tag :timer, t('activerecord.attributes.optin.timer') %>
        <%= f.number_field :timer, class: "form-control" %>
      </div>
      <%= f.submit t('helpers.submit.submit'), class: "btn btn-purple float-right px-4" %>
    <% end %>
  </div>
  <div class="col-6 d-flex justify-content-center">
    <%= render partial: Flipper['new-modal'].enabled?(current_shop) ? 'public/modal_v2' : 'public/modal', locals: {optin: @optin, preview: true} %>
  </div>
</div>

<% if Flipper['new-modal'].enabled?(current_shop) %>
  <script>
    var el = document.getElementById('modal_<%=@optin.kind%>');
    el.style.display = 'block';
    $("input").on('keyup change', function (){
    $(`#modal_${this.id}`).html($(this).val())

    if (this.id.includes("background_color")) {
        $('.modal-line, .accept').css('background', `#${$(this).val()}`)
        $('.modal-line').css('border-bottom', `1px solid #${$(this).val()}`)
        $('#brand-link').css('color', `#${$(this).val()}`)
    }
    if (this.id.includes("text_color")) {
        $('.aplicatify-modal-title, .aplicatify-modal-body').css('color', `#${$(this).val()}`)
    }
    });
  </script>
<% else %>
  <script>
    var el = document.getElementById('modal_<%=@optin.kind%>');
    el.style.display = 'block';
    $("input").on('keyup change', function (){
    $(`#modal_${this.id}`).html($(this).val())

    if (this.id.includes("background_color")) {
        $('.aplicatify-modal').css('background', `#${$(this).val()}`)
    }
    if (this.id.includes("text_color")) {
        $('.aplicatify-modal-title, .aplicatify-modal-body').css('color', `#${$(this).val()}`)
    }
    });
  </script>
<% end %>
