<%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: 'js-validate' }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: 'form-control' %>
  </div>

  <div class="form-group js-form-message">
    <%= f.label :domain %><br />
    <%= f.text_field :domain, autofocus: true, autocomplete: "url", class: 'form-control', type: 'url', placeholder: 'https://example.com',
        data: {msg: "Entre uma URL valida, começando com https://"}
    %>
  </div>

  <%= f.hidden_field :provider, value: "devise", class: "form-control" %>

  <div class="form-group">
    <%= f.label :password %>
    <% if @minimum_password_length %>
      <em>(Use ao menos <%= @minimum_password_length %> caracteres)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control', data: { "rule-equalTo": "#user_password" } %>
  </div>

  <div class="form-group">
    <%= f.submit "Cadastrar", class: "btn btn-primary btn-block text-center" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
