<div class="row pl-3 pt-3">
  <div class="col-6 white shadow-sm p-4">
    <%= form_for @manifest, url: admin_pwa_path(@manifest), method: :patch do |f| %>
      <div class="form-group">
        <%= label_tag :name, t('activerecord.attributes.manifest.name') %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag :icon, t('activerecord.attributes.manifest.icon') %>
        <small class="form-text text-muted mt-0 mb-2">A imagem deve ser quadrada, em PGN, SVG ou WebP e maior que 192x192 pixels.</small>
        <%= f.file_field :icon, class: "form-control-file" %>
        <div id="icon-errors" class="invalid-feedback"></div>
      </div>
      <div class="form-group">
         <%= label_tag :background_color, t('activerecord.attributes.manifest.background_color') %>
        <%= f.text_field :background_color, class: "form-control jscolor" %>
      </div>
      <div class="form-group">
         <%= label_tag :description, t('activerecord.attributes.manifest.description') %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <div class="row">
        <div class="col-6">
          <a href="<%="http://#{current_shop.domain}/?t=0&vizualize=app" %>"
              target="_blank" class="btn btn-purple float-left px-4">
            Ver na Minha Loja
          </a>
        </div>
        <div class="col-6">
          <%= f.submit t('helpers.submit.submit'), class: "btn btn-purple float-right px-4", id: "submit" %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="col-6 d-flex my-auto justify-content-center">
    <div class="">
      <div class="logo-preview">
        <%if @manifest.icon.attached? %>
          <%= image_tag @manifest.icon, id: "logo-preview" %>
        <% else %>
          <img id="logo-preview" src="">
        <% end %>
      </div>
      <%= image_tag "iphone-x-minimal-buttons.svg", class: "iphone" %>
      <div id="prev_manifest_theme_color" class="top-bar" style="background: #<%= @manifest.theme_color%>;"> </div>
      <div id="prev_manifest_background_color" class="background" style="background: #<%= @manifest.background_color%>;"> </div>
    </div>
  </div>
</div>

<script>
  $.fn.hasExtension = function(exts) {
      return (new RegExp('(' + exts.join('|').replace(/\./g, '\\.') + ')$')).test($(this).val());
  }

  $("input").on('keyup change', function (){
    $(`#prev_${this.id}`).css('background', `#${$(this).val()}`);
    $("#prev_manifest_theme_color").css('background', `#${$(this).val()}`);
    if (this.id.includes("icon")) {
      readURL(this)
    }
  });

  function readURL(input) {
    $("#icon-errors").text("")
    window.valid_extention = true
    var extention = $(input).val().toLowerCase().split(".").slice(-1).pop();
    if (!["png", "svg", "webp"].includes(extention)) {
      $("#icon-errors").append("Os formatos suportados são .PGN, .SVG, .WebP<br>")
      window.valid_extention = false
    }

    if(!window.valid_extention) {
      $("#manifest_icon").addClass("is-invalid")
      $("#manifest_icon").val('');
      $('#submit').prop('disabled', true);
    }
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        var image = new Image();
        image.src = e.target.result;
        image.onload = function () {
          var valid = true
          var height = this.height;
          var width = this.width;
          window.test = this
          if (height <= 192 || width <= 192) {
            $("#icon-errors").append("O icone deve ter ao menos 192x192 pixels<br>")
            valid = false
          }
          if (width != height) {
            $("#icon-errors").append("A imagem deve ser quadrada<br>")
            valid = false
          }

          if (valid && window.valid_extention) {
            $('#logo-preview').attr('src', e.target.result);
            $('#submit').prop('disabled', false);
          } else {
            $("#manifest_icon").addClass("is-invalid")
            $("#manifest_icon").val('');
            $('#submit').prop('disabled', true);
          }
        }
      }
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }
</script>
