<div class="row pl-3 pt-3">
  <div class="col-6 white shadow-sm p-4">
    <%= form_for @manifest, url: admin_pwa_path(@manifest), method: :patch do |f| %>
      <div class="form-group">
        <%= label_tag 'manifest_name', 'App Name:' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_short_name', 'App Home Screen Name:' %>
        <%= f.text_field :short_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_icon', 'Logo:' %>
        <%= f.file_field :icon, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_theme_color', 'Theme Color:' %>
        <%= f.text_field :theme_color, class: "form-control jscolor" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_background_color', 'Background Color:' %>
        <%= f.text_field :background_color, class: "form-control jscolor" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_description', 'Description:' %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-primary float-right px-4" %>
    <% end %>
  </div>
  <div class="col-6 d-flex my-auto justify-content-center">
    <div class="">
      <div class="logo-preview">
        <%= image_tag @manifest.icon, id: "logo-preview" %>
      </div>
      <%= image_tag "iphone-x-minimal-buttons.svg", class: "iphone" %>
      <div id="prev_manifest_theme_color" class="top-bar" style="background: #<%= @manifest.theme_color%>;"> </div>
      <div id="prev_manifest_background_color" class="background" style="background: #<%= @manifest.background_color%>;"> </div>
    </div>
  </div>
</div>

<script>
  $("input").on('keyup change', function (){
    $(`#prev_${this.id}`).css('background', `#${$(this).val()}`);
    if (this.id.includes("icon")) {
      readURL(this)
    }
  });

  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function(e) {
        $('#logo-preview').attr('src', e.target.result);
      }
      reader.readAsDataURL(input.files[0]); // convert to base64 string
    }
  }
</script>
