<% if @scripttags.blank? %>
  <h2>ScriptTags</h2>
  <p>This app has not created any script tags for this Shop. Add webhooks to your ShopifyApp initializer if you need script tags.</p>
<% end %>

<div class="row">
  <div class="col-6 ml-5 mt-5">
    <%= form_for @manifest, url: manifest_form_path(@manifest), method: "patch" do |f| %>
      <div class="form-group">
        <%= label_tag 'manifest_name', 'Nome:' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_short_name', 'Nome Curto:' %>
        <%= f.text_field :short_name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_icon', 'Icone:' %>
        <%= f.text_field :icon, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_theme_color', 'Cor Principal:' %>
        <%= f.text_field :theme_color, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_background_color', 'Cor de Fundo:' %>
        <%= f.text_field :background_color, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'manifest_description', 'Descrição:' %>
        <%= f.text_area :description, class: "form-control" %>
      </div>
      <%= f.submit "Salvar", class: "btn btn-primary float-right" %>
    <% end %>
  </div>

  <div class="col6">
    <div class="smartphone">
      <div class="content">
        <iframe src="/deviceview" style="width:100%;border:none;height:100%" />
      </div>
    </div>
  </div>
</div>