<h3>Instalação Manual</h3>
<p>
  Alguém está se sentindo corajoso! Brincadeira, a instalação manual é fácil – Basta seguir as instruções abaixo. Você vai precisar acessar o codigo fonte do seu site e (idealmente)
  fazer o upload de um arquivo lá.
</p>
<p><b>1.</b> Copie o código abaixo e cole imediatamente antes da tag <code>&lt;/head&gt;</code> na página do seu site.</p>
<%= render partial: 'public/install' %>

<p><b>2.</b> Visto que o seu site deve usar o protocolo <code>https</code>, você precisará fazer o upload de um arquivo contendo um <code>service worker</code>
  que irá cuidar da entrega de notificações push do seu site. Se você tiver acesso a pasta principal do seu site (normalmente via FTP),
  baixe o arquivo abaixo e faça o seu upload para a pasta principal do seu site.
</p>

<a class="btn btn-primary text-center" href="/aplicatify-serviceworker.js" download="aplicatify-serviceworker.js">Baixar ServiceWorker</a>

<p class="mt-4 mb-0">Quando você realizar o upload do arquivo, ele devera estar acessivel em:</p>
<a class="mb-3" href=<%=current_shop.domain + "/aplicatify-serviceworker.js"%>><%= current_shop.domain + "/aplicatify-serviceworker.js"%></a>
<!--
<p class="mb-0">ou, para sites hospedados no Squarespace:</p>
<a href=<%="https://" + current_shop.domain + "/scripts/aplicatify-serviceworker.js"%>><%= current_shop.domain + "/scripts/aplicatify-serviceworker.js"%></a>
<p></p>
-->

<% if false %>
  <!-- TODO: Make the verify installation button work -->
  <p><b>3.</b> É isso! Sério. Apenas três passos. Quando você tiver colado o código e realizado o upload do arquivo, clique no botão "Verificar Instalação" e nós vamos dar uma olhada no seu site, verificando se tudo está certinho.</p>
  <button class="btn btn-red text-center">Verificar Instalação</button>
<%end%>