<%= form_with model: @campaign, url: url, method: method do |f| %>
  <div class="form-group"data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.campaign.name')%>">
    <%= label_tag :name, t('activerecord.attributes.campaign.name') %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.campaign.title')%>">
    <%= label_tag :title, t('activerecord.attributes.campaign.title') %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.campaign.body')%>">
    <%= label_tag :body, t('activerecord.attributes.campaign.body') %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group" data-toggle="tooltip" data-placement="right" title="<%= t('tooltip.campaign.url')%>">
    <%= label_tag :url, t('activerecord.attributes.campaign.url') %>

    <div class="input-group-prepend">
    <% if params[:action] == "edit" %>
      <%= f.text_field :url, class: "form-control" %>
    <% else %>
      <%= f.text_field :url, class: "form-control", value: current_shop.domain%>
    <% end %>
    </div>

  </div>

  <div class="form-group">
    <%= label_tag 'campaign_release_date', t('activerecord.attributes.campaign.release_date') %>
    <%= f.datetime_local_field :release_date, class: "form-control" %>
  </div>

  <div class="justify-content-end">
    <% if params[:action] == "edit" %>
      <%= link_to(t('helpers.submit.delete', model: Campaign.model_name.human), admin_campaign_path(@campaign), method: :delete, class: "btn btn-danger px-4 float-left") unless @campaign.sent? %>
      <%= f.submit t('helpers.submit.update', model: Campaign.model_name.human), class: "btn btn-primary px-4 float-right #{"disabled" if @campaign.sent?}", disabled: @campaign.sent? %>
    <% else %>
      <%= f.submit t('helpers.submit.send_now'), class: "btn btn-primary px-4 float-right" %>
    <% end %>

  </div>
<% end %>
