<%= form_with model: @campaign, url: url, method: method do |f| %>
  <div class="form-group">
    <%= label_tag :name, t('activerecord.attributes.campaign.name'), data: { toggle: "tooltip", placement: "right" }, title: t('tooltip.campaign.name') %>
    <%= f.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :title, t('activerecord.attributes.campaign.title'), data: { toggle: "tooltip", placement: "right" }, title: t('tooltip.campaign.title') %>
    <%= f.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :body, t('activerecord.attributes.campaign.body'), data: { toggle: "tooltip", placement: "right" }, title: t('tooltip.campaign.body') %>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= label_tag :url, t('activerecord.attributes.campaign.url'), data: { toggle: "tooltip", placement: "right" }, title: t('tooltip.campaign.url') %>

    <div class="input-group-prepend">
    <% if params[:action] == "edit" %>
      <%= f.text_field :url, class: "form-control" %>
    <% else %>
      <%= f.text_field :url, class: "form-control", value: current_shop.domain%>
    <% end %>
    </div>

  </div>

  <!-- <div class="form-group"> -->
    <!--<%= label_tag 'campaign_release_date', 'Release Date:' %>-->
    <%= f.hidden_field :release_date, value: Time.now, class: "form-control" %>
  <!--</div>-->
  <%= f.submit t('helpers.submit.send_now'), class: "btn btn-purple float-right px-4" %>
<% end %>
