<%= form_with model: @campaign, url: url, method: method do |f| %>
      <div class="form-group">
        <%= label_tag 'campaign_name', 'Campaign Name:' %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'campaign_tag', 'Tag:' %>
        <%= f.text_field :tag, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'campaign_title', 'Push Title:' %>
        <%= f.text_field :title, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'campaign_body', 'Push Body:' %>
        <%= f.text_area :body, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'campaign_url', 'Destin URL:' %>
        <%= f.text_field :url, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= label_tag 'campaign_release_date', 'Release Date:' %>
        Current Time: <%= Time.now %>
        <%= f.datetime_field :release_date,  class: "form-control" %>
      </div>
      <%= f.submit "Save", class: "btn btn-purple float-right px-4" %>
    <% end %>