<div class="row py-3">
  <div class="col-6 my-auto">
    <h2>Your Campaigns</h2>
  </div>

  <div class="col-6 my-auto">
    <a class="btn btn-purple text-center btn-lg float-right" href="<%= new_admin_campaign_path %>" role="button">+ Nova Campanha</a>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Impressions</th>
        <th scope="col">Clicks</th>
      </tr>
    </thead>
    <tbody>
      <%@campaigns.each_with_index do |campaign, i| %>
        <tr>
          <th scope="row" ><%= i + 1 %> </th>
          <td> <%= campaign.name %> </td>
          <td> <%= campaign.impressions %> </td>
          <td> <%= campaign.clicks %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>