<div class="row py-3">
  <div class="col-6 my-auto">
    <h2>Your Campaigns</h2>
  </div>

  <div class="col-6 my-auto">
    <a class="btn btn-purple text-center btn-lg float-right" href="<%= new_admin_campaign_path %>" role="button">+ New Campaign</a>
  </div>
</div>
<div class="row">
  <table class="table campaigns">
    <tbody>
      <%@campaigns.each_with_index do |campaign, i| %>
        <tr>
          <td> 
            <div> <%= campaign.name %> </div>
            <div class="sub-label"> 
              All Subscribers | <%= "in" if campaign.release_date > Time.now%> <%= distance_of_time_in_words(Time.now, campaign.release_date) %> <%= "ago" if campaign.release_date < Time.now%> | Campaign ID: <%= campaign.id %>
            </div>
          </td>
          <td>
            <div> <%= number_to_currency(campaign.orders.sum(:total)) %> </div>
            <div class="sub-label"> Revenue </div>
          </td>
          <td>
            <div> <%= campaign.impressions %> </div>
            <div class="sub-label"> Impressions </div>
          </td>
          <td> 
            <div> <%= campaign.clicks %> </div>
            <div class="sub-label"> Clicks </div>
          </td>
          <td class="align-middle">
            <a class="btn btn-red" href="<%= edit_admin_campaign_path(campaign) %>" role="button">Edit</a>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>