<%= render partial: "partials/page_header", locals: {title: "#{t('admin_commons.greetings')}, #{shop_name}" } %>

<!-- Card de Indicadores -->
<div class="row gx-2 gx-lg-3">
  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Downloads do App</h6>

        <div class="row align-items-center gx-2">
          <div class="col">
            <span class="js-counter display-4 text-dark" data-value="<%= app_installs %>"><%= number_to_human(app_installs) %></span>
            <span class="text-body font-size-sm ml-1">Antes eram <%= number_to_human(app_installs(7.days.ago)) %></span>
          </div>

          <div class="col-auto">
            <%= raw growth_badge(app_installs, app_installs(7.days.ago)) %>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Inscritos Ativos</h6>

        <div class="row align-items-center gx-2">
          <div class="col">
            <span class="js-counter display-4 text-dark" data-value="<%= push_subscribers %>"><%= number_to_human(push_subscribers) %></span>
            <span class="text-body font-size-sm ml-1">Antes eram <%= number_to_human(push_subscribers_delta) %></span>
          </div>

          <div class="col-auto">
            <%= raw growth_badge(push_subscribers, push_subscribers_delta) %>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Valor gerado pelo App</h6>

        <div class="row align-items-center gx-2">
          <div class="col">
            <span class="js-counter display-4 text-dark" data-value="<%= app_revenue %>"><%= app_revenue %></span>
          </div>

          <div class="col-auto">
            <span class="badge badge-soft-success p-1">
              <i class="tio-trending-up"></i> <%= app_revenue_delta %>
            </span>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-sm-6 col-lg-3 mb-3 mb-lg-5">
    <!-- Card -->
    <div class="card h-100">
      <div class="card-body">
        <h6 class="card-subtitle mb-2">Valor gerado pelas campanhas</h6>

        <div class="row align-items-center gx-2">
          <div class="col">
            <span class="js-counter display-4 text-dark" data-value="<%= campaigns_revenue %>"><%= campaigns_revenue %></span>
          </div>

          <div class="col-auto">
            <span class="badge badge-soft-success p-1">
              <i class="tio-trending-up"></i> <%= campaigns_revenue_delta %>
            </span>
          </div>
        </div>
        <!-- End Row -->
      </div>
    </div>
    <!-- End Card -->
  </div>
</div>
<!-- Fim do Card de Indicadores -->

<div class="row gx-2 gx-lg-3">
  <div class="col-lg-8 mb-3 mb-lg-5">
    <%= render partial: "info_graph" %>
  </div>

  <div class="col-lg-4 mb-3 mb-lg-5">
    <%= render partial: "impressions_meter" %>
  </div>
</div>
