<div class="row">
  <div class="col-12">
    <div class="row my-3">
      <div class="col-md-6 col-xl-3  mx-auto info-card">
        <%= image_tag "Componente 1 – 1.svg" %>
        <div class="title">App<br>Revenue</div>
        <div class="value"> <%= app_revenue %> </div>
      </div>
      <div class="col-md-6 col-xl-3  mx-auto info-card">
        <%= image_tag "Componente 4 – 1.svg" %>
        <div class="title">App<br>Users</div>
        <div class="value"><%= app_installs %></div>
      </div>
      <div class="col-md-6 col-xl-3  mx-auto info-card">
        <%= image_tag "Componente 3 – 1.svg" %>
        <div class="title">Total<br>Revenue</div>
        <div class="value"><%= revenue %></div>
      </div>
      <div class="col-md-6 col-xl-3  mx-auto info-card">
        <%= image_tag "Componente 2 – 1.svg" %>
        <div class="title">Active<br>Subscribers</div>
        <div class="value"><%= push_subscribers %></div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3">
  <div class="col-8">
    <h4 class="pb-4">Subscriber Growth<br>+ <%=new_subscribers%></h4>
    <canvas id="push-subscribers" width="200" height="100"></canvas>
  </div>
  <div class="col-4">
    <div class="row interactions-container float-right py-4">
      <div class="col-6 my-auto">
        <div class="row">
          <div class="col-12 mb-4">
            <span class="title">Impressions <br> Consumed</span>
          </div>
          <div class="col-12 mb-3">
            <span class="consumed mr-3"> <%= push_interaction[:push_count] %> </span>
            <span class="available">|</span>
            <span class="available"> <%= push_interaction[:push_limit] %> </span>
          </div>
          <div class="col-12">
            <div class="progress">
              <div class="progress-bar" role="progressbar" style="width: <%= percentage_of_interactions_consumed %>%" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 my-auto">
        <%= image_tag "Componente 5 – 1.svg" %>
      </div>
    </div>
    <div class="row latest-campaigns float-right mt-4 py-4">
      <div class="col-12 my-auto">
        <div class="title">Last Campaigns</div>
        <div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Audience</th>
            </tr>
          </thead>
          <tbody>
            <%campaigns.last(3).each_with_index do |campaign, i| %>
              <tr>
                <th scope="row" ><%= i + 1 %> </th>
                <td> <%= campaign.name %> </td>
                <td> <%= campaign.segmentation_size %> </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>
