<div class="row pl-3 pt-3">
  <% @plans.each do |plan| %>
    <div class="col-4 p-4 mx-auto mb-4">
      <div class="white shadow-sm mx-auto p-4">
        <h3> <%= plan.name %> </h3> <br>
        <h5> <%= "Seu plano" if @current_plan == plan%> </h5> <br>
          <%= t 'plans.store_app' %><br>
          <%= t 'plans.unlimited_customer_base' %><br>
          Dashboard<br>
          <%= t 'plans.custom_triggers' %><br>
          <%= plan.push_limit %> <%= t 'plans.push_notifications_per_month' %><br>
          <%= number_to_currency(plan.price, unit: "$") %> USD<br>
          <%= link_to t('plans.get_this_plan'), admin_plans_path(id: plan), method: :post %>
      </div>
    </div>
  <% end %>
</div>
