
<body data-offset="0" data-hs-scrollspy-options='{ "offset": 90, "target": "#navbarSettings" }'>

<div class="row">
  <div class="col-lg-3">
    <!-- Navbar -->
    <div class="navbar-vertical navbar-expand-lg">
      <!-- Navbar Toggle -->
      <button type="button" class="navbar-toggler btn btn-block btn-white mb-3" aria-label="Toggle navigation" aria-expanded="false" aria-controls="navbarVerticalNavMenu" data-toggle="collapse" data-target="#navbarVerticalNavMenu">
        <span class="d-flex justify-content-between align-items-center">
          <span class="h5 mb-0">Menu de Configurações</span>

          <span class="navbar-toggle-default">
            <i class="tio-menu-hamburger"></i>
          </span>

          <span class="navbar-toggle-toggled">
            <i class="tio-clear"></i>
          </span>
        </span>
      </button>
      <!-- End Navbar Toggle -->

      <!-- Navbar Collapse -->
      <div id="navbarVerticalNavMenu" class="collapse navbar-collapse">
        <ul id="navbarSettings" class="js-sticky-block js-scrollspy navbar-nav navbar-nav-lg nav-tabs card card-navbar-nav"
            data-hs-sticky-block-options='{
             "parentSelector": "#navbarVerticalNavMenu",
             "targetSelector": "#header",
             "breakpoint": "lg",
             "startPoint": "#navbarVerticalNavMenu",
             "endPoint": "#stickyBlockEndPoint",
             "stickyOffsetTop": 20
           }'>
          <li class="nav-item">
            <a class="nav-link active" href="#App">
              <i class="tio-android nav-icon"></i>
              Configurações do App
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Optin">
              <i class="tio-notice-outlined nav-icon"></i>
              Ganhe Inscritos
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Marketing">
              <i class="tio-money-vs nav-icon"></i>
              Retorno de Marketing
            </a>
          </li>
        </ul>
      </div>
      <!-- End Navbar Collapse -->
    </div>
    <!-- End Navbar -->
  </div>

  <div class="col-lg-9">
    <!-- Card -->
    <div id="App" class="card mb-5 anchor">
      <div class="card-header">
        <h3 class="card-title h4">Configurações do App</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-xl-6 mb-5">
            <%= render "/admin/pwas/form" %>
          </div>
          <div class="col-lg-12 col-xl-6">
            <div class="mx-auto">
              <%= image_tag "iphone-x-minimal-buttons.svg", class: "iphone" %>
              <div class="logo-preview">
                <%if @manifest.icon.attached? %>
                  <%= image_tag @manifest.icon, id: "logo-preview" %>
                <% else %>
                  <img id="logo-preview" src="">
                <% end %>
              </div>
              <div id="prev_manifest_theme_color" class="top-bar" style="background: #<%= @manifest.theme_color%>;"> </div>
              <div id="prev_manifest_background_color" class="background" style="background: #<%= @manifest.background_color%>;"> </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div id="Optin" class="card mb-5 anchor">
      <div class="card-header">
        <h3 class="card-title h4">Ganhe Inscritos</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-12 col-xl-6 mb-5">
            <div class="row">
              <div class="col-12">
                <ul class="nav nav-tabs">
                  <% for tab in optins_kind %>
                    <li class="nav-item">
                      <a class="nav-link <%= active_tab(tab, params[:tab]) %>" data-turbolinks="true" href= <%= "?tab=#{tab}#Optin" %>> <%= t "optin.#{tab}_html" %> </a>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
            <%= render partial: "admin/optins/partials/#{params[:tab] || "push"}_form" %>
          </div>
          <div class="col-lg-12 col-xl-6 my-auto">
             <%= render partial: Flipper['new-modal'].enabled?(current_shop) ? 'public/modal_v2' : 'public/modal', locals: {optin: @optin, preview: true, branding: Flipper['branding-modal'].enabled?(current_shop)} %>
          </div>
        </div>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card -->
    <div id="Marketing" class="card mb-5 anchor">
      <div class="card-header">
        <h3 class="card-title h4">Retorno de Marketing</h3>
      </div>
      <div class="card-body">
        <%= render partial: "admin/marketing_values/form" %>
      </div>
    </div>
    <!-- End Card -->

    <!-- Card 
    <div id="passwordSection" class="card mb-5">
      <div class="card-header">
        <h3 class="card-title h4">Retorno de Marketing</h3>
      </div>
      <div class="card-body">
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer. This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </div>
    </div>
     End Card -->

    <!-- Sticky Block End Point -->
    <div id="stickyBlockEndPoint"></div>
  </div>
</div>
<!-- End Row -->