<style type="text/css">
.vorta-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 30%;
  min-width: 300px;
  max-width: 399px;
  max-height: 247px;
  transform: translate(-50%, -50%);
  text-align: left;
  background: rgba(255, 255, 255, 1);
  transition: opacity .25s;
  box-shadow: 0 3px 13px 0 rgba(0,0,0,0.19);
  border-radius: 5px;
  padding: 1em 2em;
  z-index: 2147483647;
  border-radius: 4px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}

.vorta-modal-title {
    font-size: 1.1em;
    padding-bottom: 5px;
    font-weight: bold;
  }

  .vorta-modal-body {
    position: relative;
    font-size: 1.0em;
    padding-bottom: 25px;
  }

.aplicatify-aling-bottom {
    position: relative;
    width: 100%;
    float: right;
}

.aplicatify-btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  padding: .375rem .75rem;
  font-size: 16px;
  line-height: 1.5;
  min-width: 114px;
  min-height: 39px;
  max-width: 152px;
  width: 38%;
  max-height: 39px;
  height: 16%;
  border-radius: 4px;
  border-width: 0px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.close_button {
  color: #007bff !important;
  background-color: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

.accept {
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
}
</style>

<div id="modal_<%=optin.kind%>" class="vorta-modal" style="background: #<%= optin.background_color %>; display: none; <%= "z-index: 0;" if preview == true %>">
  <div id="modal_optin_title" class="vorta-modal-title" style="color: #<%= optin.text_color %>">
    <%=optin.title%>
  </div>

  <div id="modal_optin_body" class="vorta-modal-body" style="color: #<%= optin.text_color %>">
    <%=optin.body%>
  </div>

  <div class="aling-bottom">
    <button id="modal_optin_decline_button" class="aplicatify-btn close_button" onClick="closePopup('<%=optin.kind%>')"><%=optin.decline_button%></button>
    <button id="modal_optin_accept_button" class="aplicatify-btn accept" style="float: right;" onClick="showPrompt('<%=optin.kind%>')"><%=optin.accept_button%></button>
  </div>
</div>