<main role="main">
  <div class="sidebar">
    <div class="row">
      <div class="col-12 text-center mt-4">
        <%= image_tag "Logo.svg", class:"logo mx-auto" %>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center mt-5">
        <a class="btn btn-purple text-center btn-lg" href="<%= new_admin_campaign_path %>" role="button">+ New Campaign</a>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-red" href="<%= admin_home_index_path %>" role="button">Home</a>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-red" data-turbolinks="false" href="<%= admin_campaigns_path %>" role="button">Campaigns</a>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-red" data-turbolinks="false" href="<%= admin_optins_path %>" role="button">Opt Ins</a>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-red" data-turbolinks="false" href="<%= edit_admin_pwa_path %>" role="button">App Settings</a>
      </div>
      <div class="col-12 text-center mt-4">
        <a class="btn btn-red" href="<%= admin_plans_path %>" role="button">Upgrade</a>
      </div>
    </div>
  </div>
  <div class="wrapper">
    <div class="container-fluid">
      <div class="row">
        <nav class="navbar navbar-expand-lg w-100">
          <span class="greetings" >Hello,</span>
          <span class="name ml-2" ><%= shop_name %></span>
        </nav>
      </div>
      <% unless theme_verified? %>
        <div class="row">
          <div class="alert-danger w-100">
            Sorry, an error occurred during the installation process and your theme was not automatically modified.<br>
            To execute the modifications manually and finish the installation process, please follow the instructions below:<br>
            * Open Theme's panel and then "Edit Code" for the current theme.
            * In the snippets folder create a file with the name: "aplicatify-snippet.liquid"
            * Insert this code in the file:
            <div class="pl-4">
              &ltlink rel='manifest' href='/apps/script/public/manifest.json'&gt<br>
              &ltscript type='text/javascript' async='' src='/apps/script/serviceworker-register.js'&gt&lt/script&gt<br>
              &ltscript type='text/javascript' async='' src='/apps/script/public/preferences.js'&gt&lt/script&gt
            </div>
            * In the layout folder, edit the file: "theme.liquid" and inser the following code just after the &lthead&gt tag:
            <div class="pl-4">
              &lt!-- APLICATIFY:START --&gt<br>
              {% include 'aplicatify-snippet' %}<br>
              &lt!-- APLICATIFY:END --&gt
            </div>
            More detailed instructions can be found in: <a href="http://www.aplicatify.com/instalation_guide" target="_blank">Installation Guide</a>
          </div>
        </div>
      <% end %>
      <%= flash_messages %>
      <%= yield %>
    </div>
  </div>
</main>