<!DOCTYPE html>
<html>
  <head>
    <title>Appify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Varela Round' rel='stylesheet'>
  </head>

  <body>
    <%= render partial: 'layouts/sidebar' %>
  </body>
</html>
