<!DOCTYPE html>
<html>
  <head>
    <title>Appify</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main role="main">
      <div class="sidebar">
        <div class="row">
          <div class="col-12 text-center mt-4">
            <%= image_tag "Logo.svg", class:"logo mx-auto" %>
          </div>
        </div>
        <div class="row">
          <div class="col-12 text-center mt-5">
            <a class="btn btn-purple text-center btn-lg" href="<%= new_campaign_path %>" role="button">+ Nova Campanha</a>
          </div>
          <div class="col-12 text-center mt-4">
            <a class="btn btn-red" href="<%= home_index_path %>" role="button">Home</a>
          </div>
          <div class="col-12 text-center mt-4">
            <a class="btn btn-red" href="<%= campaigns_path %>" role="button">Campanhas</a>
          </div>
          <div class="col-12 text-center mt-4">
            <a class="btn btn-red" href="#" role="button">Subscribers</a>
          </div>
          <div class="col-12 text-center mt-4">
            <a class="btn btn-red" href="#" role="button">Opt Ins</a>
          </div>
        </div>
      </div>
      <div class="wrapper">
        <div class="container-fluid">
          <div class="row">
            <nav class="navbar navbar-expand-lg w-100">
              <span class="greetings" >Olá,</span>
              <span class="name ml-3" ><%= shop_name %></span>
            </nav>
          </div>
          <%= yield %>
        </div>
      </div>
    </main>
  </body>
</html>
